<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hu.bme.aut.android.publictransporterapp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Required only when requesting background location access on Android 10 (API level 29). -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_circ"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".credit.CreditActivity"
            android:label="@string/credit"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name="BackgroundLocationService"
            tools:ignore="MissingClass" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StationPickerActivity"
            android:label="@string/title_activity_station_picker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportViewerActivity"
            android:label="@string/reported_traffic_errors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportTypeChooserActivity"
            android:label="@string/title_error_type_choose"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".optionsItem.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>